.homePage {
  display: flex;
  height: 100%;

  .contentContainer {
    flex: 3;
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
      position: absolute;
      right: 0;
      width: 115%;
    }
  }
}
